In [342]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#load the dataset
df = pd.read_csv('data_for_naive_bayes_algorithm/adult.csv')
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [3]:
#Exploratary data analysis
##Now, I will explore the data to gain insights about the data.

print(df.shape)

#View summary of dataset
print(df.info())

(48842, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

In [12]:
# Types of variables:
    # In this section, I segregate the dataset into categorical and numerical variables. There are a mixture of categorical and numerical variables in the dataset. Categorical variables have data type object. Numerical variables have data type int64.

    # First of all, I will explore categorical variables.
    

#Explore categorical variables

# find categorical variables

categorical = [var for var in df.columns if df[var].dtype=='O']

print ('there are {} categorical variables\n'.format(len(categorical)))

print('the categorical variable are:\n\n',categorical )


#view the categorical variables 
print

there are 9 categorical variables

the categorical variable are:

 ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country', 'income']

In [5]:
# view the categorical variables

print(df[categorical].head())

# Explore problems within categorical variables
# First, I will explore the categorical variables.

   workclass     education      marital-status         occupation  \
0    Private          11th       Never-married  Machine-op-inspct
1    Private       HS-grad  Married-civ-spouse    Farming-fishing
2  Local-gov    Assoc-acdm  Married-civ-spouse    Protective-serv
3    Private  Some-college  Married-civ-spouse  Machine-op-inspct
4          ?  Some-college       Never-married                  ?

  relationship   race  gender native-country income
0    Own-child  Black    Male  United-States  <=50K
1      Husband  White    Male  United-States  <=50K
2      Husband  White    Male  United-States   >50K
3      Husband  Black    Male  United-States   >50K
4    Own-child  White  Female  United-States  <=50K

In [6]:
#Missing values in categorical variables
# check missing values in categorical variables

df[categorical].isnull().sum()

workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
native-country    0
income            0
dtype: int64

In [7]:
# Frequency counts of categorical variables
# Now, I will check the frequency counts of categorical variables.

# view frequency counts of values in categorical variables

for var in categorical: 
    
    print(df[var].value_counts())

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: education, dtype: int64
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: marital-status, dtype: int64
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: relationship, dtype: int64
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: race, dtype: int64
Male      32650
Female    16192
Name: gender, dtype: int64
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Yugoslavia                       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64
<=50K    37155
>50K     11687
Name: income, dtype: int64

In [22]:
# view frequency distribution of categorical variables
    
for var in categorical :
    print(df[var].value_counts()/np.float(len(df)))

Private             0.694198
Self-emp-not-inc    0.079071
Local-gov           0.064207
?                   0.057307
State-gov           0.040559
Self-emp-inc        0.034704
Federal-gov         0.029319
Without-pay         0.000430
Never-worked        0.000205
Name: workclass, dtype: float64
HS-grad         0.323164
Some-college    0.222718
Bachelors       0.164305
Masters         0.054400
Assoc-voc       0.042197
11th            0.037099
Assoc-acdm      0.032779
10th            0.028439
7th-8th         0.019553
Prof-school     0.017075
9th             0.015478
12th            0.013452
Doctorate       0.012162
5th-6th         0.010421
1st-4th         0.005057
Preschool       0.001699
Name: education, dtype: float64
Married-civ-spouse       0.458192
Never-married            0.329982
Divorced                 0.135805
Separated                0.031325
Widowed                  0.031080
Married-spouse-absent    0.012858
Married-AF-spouse        0.000758
Name: marital-status, dtype: float64
Prof-specialty       0.126367
Craft-repair         0.125138
Exec-managerial      0.124606
Adm-clerical         0.114881
Sales                0.112690
Other-service        0.100794
Machine-op-inspct    0.061873
?                    0.057512
Transport-moving     0.048217
Handlers-cleaners    0.042423
Farming-fishing      0.030507
Tech-support         0.029606
Protective-serv      0.020126
Priv-house-serv      0.004955
Armed-Forces         0.000307
Name: occupation, dtype: float64
Husband           0.403669
Not-in-family     0.257627
Own-child         0.155215
Unmarried         0.104930
Wife              0.047725
Other-relative    0.030834
Name: relationship, dtype: float64
White                 0.855043
Black                 0.095922
Asian-Pac-Islander    0.031100
Amer-Indian-Eskimo    0.009623
Other                 0.008313
Name: race, dtype: float64
Male      0.668482
Female    0.331518
Name: gender, dtype: float64
United-States                 0.897424
Mexico                        0.019471
?                             0.017546
Philippines                   0.006040
Germany                       0.004218
Puerto-Rico                   0.003767
Canada                        0.003726
El-Salvador                   0.003173
India                         0.003092
Cuba                          0.002825
England                       0.002600
China                         0.002498
South                         0.002355
Jamaica                       0.002170
Italy                         0.002150
Dominican-Republic            0.002109
Japan                         0.001884
Guatemala                     0.001802
Poland                        0.001781
Vietnam                       0.001761
Columbia                      0.001740
Haiti                         0.001536
Portugal                      0.001372
Taiwan                        0.001331
Iran                          0.001208
Greece                        0.001003
Nicaragua                     0.001003
Peru                          0.000942
Ecuador                       0.000921
France                        0.000778
Ireland                       0.000758
Thailand                      0.000614
Hong                          0.000614
Cambodia                      0.000573
Trinadad&Tobago               0.000553
Outlying-US(Guam-USVI-etc)    0.000471
Yugoslavia                    0.000471
Laos                          0.000471
Scotland                      0.000430
Honduras                      0.000409
Hungary                       0.000389
Holand-Netherlands            0.000020
Name: native-country, dtype: float64
<=50K    0.760718
>50K     0.239282
Name: income, dtype: float64

In [18]:
#Explore workclass variable :

    #check labels in workclass variable
    
print(df.workclass.unique())

['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']

In [23]:
# check frequency distribution of values in workclass variable
df.workclass.value_counts()

#We can see that there are 2799 values encoded as ? in workclass variable. I will replace these ? with NaN.

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [27]:
#replace '?' values in workclass variable with NaN
df['workclass'].replace('?' , np.NaN , inplace = True)

#and again check the frequency distributin of values in workclass variable
print(df.workclass.value_counts())

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

In [34]:
# Now, we can see that there are no values encoded as ? in the workclass variable.
# I will adopt similar approach with occupation and native_country column.

# Explore occupation variable
print(df.occupation.unique())
print('\n')

print(df.occupation.value_counts())#there are 2809 values coded as '?'
print(df['occupation'].replace('?', np.NaN , inplace = True))

print('\n\n')
#now we will check again the frequency distribution of values in workclass variable
print(df.occupation.value_counts())

['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' nan
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']


Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64
None



Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: occupation, dtype: int64

In [44]:
# Explore native-country variable
print(df['native-country'].unique())
print('\n')


print(df['native-country'].value_counts())#there are 857 values coded as '?'
print(df['native-country'].replace('?', np.NaN , inplace = True))

print('\n\n')
#now we will check again the frequency distribution of values in workclass variable
print(df['native-country'].value_counts())

['United-States' nan 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']


United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64
None



United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Thailand                         30
Hong                             30
Cambodia                         28
Trinadad&Tobago                  27
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Yugoslavia                       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: native-country, dtype: int64

In [52]:
#Check missing values in categorical variables again

df[categorical].isnull().sum()

workclass         2799
education            0
marital-status       0
occupation        2809
relationship         0
race                 0
gender               0
native-country     857
income               0
dtype: int64

In [61]:
# Number of labels: cardinality
# The number of labels within a categorical variable is known as cardinality. A high number of labels within a variable is known as high cardinality. High cardinality may pose some serious problems in the machine learning model. So, I will check for high cardinality.

# check for cardinality in categorical variables

for var in categorical:
    
    print(var, 'contains', len(df[var].unique()), 'labels')

    #We can see that native_country column contains relatively large number of labels as compared to other columns. I will check for cardinality after train-test split

workclass contains 9 labels
education contains 16 labels
marital-status contains 7 labels
occupation contains 15 labels
relationship contains 6 labels
race contains 5 labels
gender contains 2 labels
native-country contains 42 labels
income contains 2 labels

In [70]:
#Explore numerical variables 

#find numerical variables
numerical = [var for var in df.columns if df[var].dtype!='O']

print('ther are {} numerical variables\n'.format(len(numerical)))
print('the numerical variables are:', numerical)

ther are 6 numerical variables

the numerical variables are: ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [86]:
# view the numerical variables
df[numerical]
# print('\n\n')
      
# print(df[numerical])

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
0,25,226802,7,0,0,40
1,38,89814,9,0,0,50
2,28,336951,12,0,0,40
3,44,160323,10,7688,0,40
4,18,103497,10,0,0,30
...,...,...,...,...,...,...
48837,27,257302,12,0,0,38
48838,40,154374,9,0,0,40
48839,58,151910,9,0,0,40
48840,22,201490,9,0,0,20
48841,52,287927,9,15024,0,40

In [94]:
# Summary of numerical variables
# There are 6 numerical variables.
# These are given by age, fnlwgt, education_num, capital_gain, capital_loss and hours_per_week.
# All of the numerical variables are of discrete data type.
# Explore problems within numerical variables
# Now, I will explore the numerical variables.

#Missing values in numerical variables:

# check missing values in numerical variables

df[numerical].isnull().sum()

print(df[numerical].describe().T)

#We can see that all the 6 numerical variables do not contain missing values.

                   count           mean            std      min       25%  \
age              48842.0      38.643585      13.710510     17.0      28.0
fnlwgt           48842.0  189664.134597  105604.025423  12285.0  117550.5
educational-num  48842.0      10.078089       2.570973      1.0       9.0
capital-gain     48842.0    1079.067626    7452.019058      0.0       0.0
capital-loss     48842.0      87.502314     403.004552      0.0       0.0
hours-per-week   48842.0      40.422382      12.391444      1.0      40.0

                      50%       75%        max
age                  37.0      48.0       90.0
fnlwgt           178144.5  237642.0  1490400.0
educational-num      10.0      12.0       16.0
capital-gain          0.0       0.0    99999.0
capital-loss          0.0       0.0     4356.0
hours-per-week       40.0      45.0       99.0

In [95]:
#***Declare feature vector and target variable***
#Table of Contents
X = df.drop(['income'], axis=1)
y = df['income']

In [101]:
#split the dataset into training and test set
#table of contents

#splits x and y into training and test sets 

from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X , y ,test_size = 0.3, random_state=0)
X_train.shape , X_test.shape

((34189, 14), (14653, 14))

In [103]:
##**** Feature Engineering****


# Feature Engineering is the process of transforming raw data into useful features that help us to understand our model better and increase its predictive power. I will carry out feature engineering on different types of variables.

# First, I will display the categorical and numerical variables again separately.

# check data types in X_train

X_train.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
dtype: object

In [106]:
#display categorical variables 

categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']
categorical

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'native-country']

In [108]:
# display numerical variables

numerical = [col for col in X_train.columns if  X_train[col].dtypes!='O']
numerical

['age',
 'fnlwgt',
 'educational-num',
 'capital-gain',
 'capital-loss',
 'hours-per-week']

In [115]:
#Engineering missing value in categorical variables

#print percentage of missing values in the categorical variables in training set

X_train[categorical].isnull().mean()

workclass         0.057211
education         0.000000
marital-status    0.000000
occupation        0.057358
relationship      0.000000
race              0.000000
gender            0.000000
native-country    0.017608
dtype: float64

In [139]:
# print categorical variables with missing data

for col in categorical:
    if X_train[col].isnull().mean()>0:
    
        print(col, (X_train[col].isnull().mean()))
        
# impute missing categorical variables with most frequent value
    
    
for df2 in [X_train , X_test]:
    df2['workclass'].fillna(X_train['workclass'].mode(),inplace= True)
    df2['occupation'].fillna(X_train['occupation'].mode(), inplace = True)
    df2['native-country'].fillna(X_train['native-country'].mode(), inplace = True)
    
# check missing values in categorical variables in X_train
print(X_train[categorical].isnull().sum())
print('\n\n')

# check missing values in categorical variables in X_test
print(X_test[categorical].isnull().sum())

workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
native-country    0
dtype: int64



workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
native-country    0
dtype: int64

In [145]:
#As a final check, I will check for missing values in X_train and X_test.

# check missing values in X_train 
print(X_train.isnull().sum())

# check missing values in X_test

X_test.isnull().sum()

#We can see that there are no missing values in X_train and X_test

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
dtype: int64

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
dtype: int64

In [153]:
#Encode categorical variables
# print categorical variables


print(categorical)

print('\n\n')

print(X_train[categorical].head())

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']



              workclass     education      marital-status        occupation  \
3833          Local-gov  Some-college  Married-civ-spouse      Adm-clerical
34743           Private          10th  Married-civ-spouse      Craft-repair
2022   Self-emp-not-inc     Assoc-voc  Married-civ-spouse   Farming-fishing
1580            Private  Some-college       Never-married   Exec-managerial
4612            Private       HS-grad           Separated  Transport-moving

        relationship   race  gender native-country
3833       Own-child  White  Female  United-States
34743      Own-child  Other    Male  United-States
2022         Husband  White    Male  United-States
1580   Not-in-family  White  Female  United-States
4612       Unmarried  White  Female  United-States

In [341]:
#import category encoders

# import category_encoders as ce

from sklearn.preprocessing import OneHotEncoder
#encode remaining variables with one- hot encoding
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country'])
X_train = encoder.fit_transform(X_train)
X_test = encoder.fit_transform(X_test)
X_test.head()

KeyError: 'workclass'